


body{
    background-color: #232323;
}


h1 {
    color: #6b7ac9;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 70px;

}

#aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}


#board {
    position: center;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 416px;
  height: 416px;


  /* rotation  */
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;


}

[class^="row"] {
  display:flex;
  flex-direction: row;
}

[class^="col"] {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;

  width: 50px;
  height: 50px;

  cursor: default;
}

[class^="row"]:nth-child(odd) > [class^="col"]:nth-child(even){
  background-color:#69c3e1;
}
[class^="row"]:nth-child(even) > [class^="col"]:nth-child(odd){
  background-color: #69c3e1;
}
[class^="row"]:nth-child(odd) > [class^="col"]:nth-child(odd){
  background-color: #6b7ac9;
}
[class^="row"]:nth-child(even) > [class^="col"]:nth-child(even){
  background-color:#6b7ac9;
}


/*paint pieces black and white*/

.white{
  font-size: 42px;
  text-shadow: -1px 0 black ;
  color: #eaecef;
}

.black{
  font-size: 42px;
  text-shadow: -1px 0 white ;
  color: black;
}

.piece {
  /* rotation  */
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}